body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3496d5;
}
.page{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(6, 245, 81);
    text-align: center; 
    height: 200px;  
    transition: 0.5s ease;
}
.page h1{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    font-weight: bold;
}
.page p{
    font-family: sans-serif;
    font-weight: bold;
}
.page input[type="text"]
{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-family: sans-serif;
    font-weight: bold;
}
.page input[type="button"]
{
    width: 96%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 23px;
    background-color: #3496d5;
    font-family: sans-serif;
    font-weight: bold;
}
.qr-code-box{
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s ease;
}